In [1]:
import pandas as pd
import numpy as np
import pandas as pd

# import gender_guesser.detector as gender
import nltk
nltk.download(['punkt','stopwords','vader_lexicon'])
from nltk.corpus import stopwords
from nltk.sentiment import SentimentIntensityAnalyzer
# import text2emotion as te

import matplotlib.pyplot as plt

from collections import defaultdict

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/hinaljajal/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/hinaljajal/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/hinaljajal/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

## Data Wrangling for scatter.js

In [9]:
fem_ = pd.read_csv("/Users/hinaljajal/Downloads/female_prof_word_freqs-2.csv")

In [10]:
male_ = pd.read_csv("/Users/hinaljajal/Downloads/male_prof_word_freqs-2.csv")

In [11]:
fem_ = fem_.rename(columns={"Unnamed: 0":"Word","0":"Female Count"})

In [12]:
male_ = male_.rename(columns={"Unnamed: 0":"Word","0":"Male Count"})

In [40]:
total = male_.merge(fem_,on="Word",how="outer")

In [41]:
total = total.fillna(0)

In [42]:
total["Difference"] = total["Male Count"]-total["Female Count"]

In [43]:
male_sum = total["Male Count"].sum()

In [44]:
fem_sum = total["Female Count"].sum()

In [45]:
total["Male %"] = total["Male Count"]/male_sum*100

In [46]:
total["Female %"] = total["Female Count"]/fem_sum*100

In [70]:
total["Difference %"] = total["Male %"]-total["Female %"]

In [71]:
total["Abs Difference %"] = total["Difference %"].abs()

In [72]:
top_500 = total.sort_values(by="Abs Difference %",ascending = False)[0:500]

In [28]:
top_500_ = top_500_.rename(columns={"Male %":"male","Female %":"female"})

NameError: name 'top_500_' is not defined

In [29]:
total=total.rename(columns={"Male %":"x","Female %":"y"})

In [30]:
total_ = total[total["x"]<=60]

In [31]:
top_500 = total_.sort_values(by="Abs Difference %",ascending = False)[0:500]

In [78]:
top_500_ = top_500[(top_500["Word"]!="sweet") & (top_500["Word"]!="hard") & (top_500["Word"]!="funny") & (top_500["Word"]!="difficult") & (top_500["Word"]!="easy") & (top_500["Word"]!="workload") & (top_500["Word"]!="old") & (top_500["Word"]!="generous") & (top_500["Word"]!="helpful") & (top_500["Word"]!="impossible") & (top_500["Word"]!="useful") & (top_500["Word"]!="social") & (top_500["Word"]!="fair") & (top_500["Word"]!="specific") & (top_500["Word"]!="tough") & (top_500["Word"]!="useless")& (top_500["Word"]!="disorganized")]

In [79]:
top_500_ = top_500_.rename(columns={"Male %":"male","Female %":"female"})

In [80]:
top_500_ = top_500_.rename(columns={"Word":"word"})

In [81]:
top_500_["male"] = top_500_["male"].round(decimals = 3)

In [82]:
top_500_["female"] = top_500_["female"].round(decimals = 3)

In [83]:
top_500_

,word,Male Count,Female Count,Difference,male,female,Difference %,Abs Difference %
60,guy,3851.0,69.0,3782.0,0.202,0.008,0.193032,0.193032
400,homework,9723.0,2629.0,7094.0,0.509,0.323,0.185335,0.185335
171,problems,6711.0,1433.0,5278.0,0.351,0.176,0.174871,0.174871
259,readings,4755.0,2954.0,1801.0,0.249,0.363,-0.114626,0.114626
623,physics,2788.0,444.0,2344.0,0.146,0.055,0.091266,0.091266
...,...,...,...,...,...,...,...,...
11790,chayes,132.0,1.0,131.0,0.007,0.000,0.006784,0.006784
35900,maloy,186.0,24.0,162.0,0.010,0.003,0.006780,0.006780
38629,tung,129.0,0.0,129.0,0.007,0.000,0.006751,0.006751
1175,guest,325.0,193.0,132.0,0.017,0.024,-0.006739,0.006739
369,told,800.0,395.0,405.0,0.042,0.049,-0.006736,0.006736

In [ ]:
top_500_.to_csv("/Users/hinaljajal/Downloads/the-stack/datasets/prof-reviews/top_500_.csv")

In [51]:
top_adj = top_500[(top_500["Word"]=="sweet") | (top_500["Word"]=="hard") | (top_500["Word"]=="funny") | (top_500["Word"]=="difficult") | (top_500["Word"]=="easy") | (top_500["Word"]=="workload") | (top_500["Word"]=="old") | (top_500["Word"]=="generous")|(top_500["Word"]=="helpful") | (top_500["Word"]=="impossible") | (top_500["Word"]=="useful") | (top_500["Word"]=="social") | (top_500["Word"]=="fair") | (top_500["Word"]=="specific") | (top_500["Word"]=="tough") | (top_500["Word"]=="useless")|(top_500["Word"]=="disorganized")]

In [32]:
top_adj = top_adj.rename(columns={"Male %":"x","Female %":"y"})

NameError: name 'top_adj' is not defined

In [56]:
top_adj[["x","y"]]=top_adj[["x","y"]].round(decimals=3)

In [25]:
male_adj = top_adj[top_adj["x"]>top_adj["y"]]

NameError: name 'top_adj' is not defined

In [81]:
male_adj=male_adj.rename(columns={"Word":"word"})

In [80]:
male_adj[["x","y"]].to_dict('records')

[{'x': 0.476, 'y': 0.405},
 {'x': 0.125, 'y': 0.065},
 {'x': 0.36, 'y': 0.325},
 {'x': 0.054, 'y': 0.03},
 {'x': 0.051, 'y': 0.036},
 {'x': 0.052, 'y': 0.039},
 {'x': 0.065, 'y': 0.052},
 {'x': 0.186, 'y': 0.174},
 {'x': 0.069, 'y': 0.058},
 {'x': 0.04, 'y': 0.03}]

In [84]:
male_adj["word"].to_list()

['hard',
 'funny',
 'difficult',
 'old',
 'generous',
 'impossible',
 'useful',
 'fair',
 'tough',
 'useless']

In [ ]:
female_adj = top_adj[top_adj["y"]>top_adj["x"]]

In [77]:
female_adj=female_adj.rename(columns={"Word":"word"})

In [ ]:
female_adj[["x","y"]].to_dict('records')

In [ ]:
female_adj["word"].to_list()

## Data Wrangling for percent_pos.js

In [83]:
data[data["gender_guess"]=="Female"]["review_is_positive"].sum()

10906

In [95]:
data[(data["gender_guess"]=="Male") & (data["pre_covid"]==True)]["review_is_positive"].sum()

19710

In [96]:
data[(data["gender_guess"]=="Male") & (data["pre_covid"]!=True)]["review_is_positive"].sum()

6722

In [97]:
data.groupby(["gender_guess","pre_covid"])["review"].count()

gender_guess  pre_covid
Female        False         3919
              True          9508
Male          False         7994
              True         24529
Unsure        False          125
              True           239
Name: review, dtype: int64

In [100]:
covid_male = 6722/7994

In [101]:
pre_covid_male = 19710/24529

In [102]:
data[(data["gender_guess"]=="Female") & (data["pre_covid"]==True)]["review_is_positive"].sum()

7574

In [103]:
data[(data["gender_guess"]=="Female") & (data["pre_covid"]!=True)]["review_is_positive"].sum()

3332

In [104]:
covid_female = 3332/3919

In [110]:
covid_female*100

85.02168920643021

In [111]:
covid_male*100

84.08806604953716

In [106]:
pre_covid_female = 7574/9508

In [108]:
pre_covid_female

0.7965923432898612

In [109]:
pre_covid_male

0.8035386685148191