In [7]:
import pandas as pd

# Load the Excel file
file_path = 'Responsive Documents (25-4753) (1).xlsx'
df = pd.read_excel(file_path)

# Display the first few rows to understand the structure
print("Data preview:")
print(df.head())

# Check column names
print("\nColumn names:")
print(df.columns)

# Assuming relevant columns are 'Quarter', 'Week', and 'Swipes'
# Adjust based on actual column names
# Let's try to infer the correct names for the aggregation step

# Attempt to normalize column names (strip whitespace, lowercase)
df.columns = [col.strip().lower().replace(' ', '_') for col in df.columns]

# Look for candidate columns for quarter, week, and swipes
print("\nNormalized column names:")
print(df.columns)

# Assuming column names like 'quarter', 'week', and 'swipes' now exist
# You may need to adjust these names depending on the actual column titles

grouped = df.groupby(['year', 'quarter', 'week'])['swipes'].sum().reset_index()
grouped = grouped.sort_values(by=['year', 'quarter', 'week'])

grouped = grouped[['swipes', 'quarter', 'week','year']]

# Output the result
print("\nTotal meal swipes per week:")
print(grouped)

# Save to CSV if needed
grouped.to_csv('weekly_swipe_totals.csv', index=False)
print("\nWeekly totals saved to 'weekly_swipe_totals.csv'")

Data preview:
           Food Truck  Service Date Meal Period Location  Swipes Quarter  \
0      The Taco Cartel   2023-09-22       Lunch   Sproul     197       F
1      Dina's Dumpling   2023-09-22      Dinner   Sproul     316       F
2         Smile Hotdog   2023-09-22      Dinner   Sproul     271       F
3         StopBye Caf√©   2023-09-22       Lunch  De Neve     133       F
4  Uncle Al's Barbeque   2023-09-22      Dinner  De Neve     100       F

   Year  Week
0  2023    -1
1  2023    -1
2  2023    -1
3  2023    -1
4  2023    -1

Column names:
Index(['Food Truck ', 'Service Date', 'Meal Period', 'Location', 'Swipes',
       'Quarter', 'Year', 'Week'],
      dtype='object')

Normalized column names:
Index(['food_truck', 'service_date', 'meal_period', 'location', 'swipes',
       'quarter', 'year', 'week'],
      dtype='object')

Total meal swipes per week:
    swipes quarter  week  year
0     7956       F    -1  2023
1    36450       F     0  2023
2    38604       F     1  2023
3    39127       F     2  2023
4    35328       F     3  2023
5    30812       F     4  2023
6    32278       F     5  2023
7    23348       F     6  2023
8    33252       F     7  2023
9    11542       F     8  2023
10   32061       F     9  2023
11   36552       F    10  2023
12   15572       F    11  2023
13    2677       S     0  2024
14   22064       S     1  2024
15   22215       S     2  2024
16   21819       S     3  2024
17   22666       S     4  2024
18   24841       S     5  2024
19   21176       S     6  2024
20   24926       S     7  2024
21   20939       S     8  2024
22   24498       S     9  2024
23   27330       S    10  2024
24   12254       S    11  2024
25    1824       W     0  2024
26   16905       W     1  2024
27   26513       W     2  2024
28   27710       W     3  2024
29   27086       W     4  2024
30   25089       W     5  2024
31   18936       W     6  2024
32   23605       W     7  2024
33   22193       W     8  2024
34   24316       W     9  2024
35   28107       W    10  2024
36   15238       W    11  2024

Weekly totals saved to 'weekly_swipe_totals.csv'

In [ ]:
print(grouped)
grouped

    swipes quarter  week  year
0     7956       F    -1  2023
1    36450       F     0  2023
2    38604       F     1  2023
3    39127       F     2  2023
4    35328       F     3  2023
5    30812       F     4  2023
6    32278       F     5  2023
7    23348       F     6  2023
8    33252       F     7  2023
9    11542       F     8  2023
10   32061       F     9  2023
11   36552       F    10  2023
12   15572       F    11  2023
13    2677       S     0  2024
14   22064       S     1  2024
15   22215       S     2  2024
16   21819       S     3  2024
17   22666       S     4  2024
18   24841       S     5  2024
19   21176       S     6  2024
20   24926       S     7  2024
21   20939       S     8  2024
22   24498       S     9  2024
23   27330       S    10  2024
24   12254       S    11  2024
25    1824       W     0  2024
26   16905       W     1  2024
27   26513       W     2  2024
28   27710       W     3  2024
29   27086       W     4  2024
30   25089       W     5  2024
31   18936       W     6  2024
32   23605       W     7  2024
33   22193       W     8  2024
34   24316       W     9  2024
35   28107       W    10  2024
36   15238       W    11  2024