In [1]:
import pandas as pd
import numpy as np

In [2]:
raw_data = pd.read_excel('Entries_for_092021_090922.xlsx')

In [3]:
raw_data.head()

,CREATION_TIMESTAMP,Recreation Employee,FACILITY_NAME,GENDER
0,2022-03-29 00:08:47.670,Employee,John Wooden Center Front Desk,Woman
1,2022-03-30 01:07:27.500,Employee,John Wooden Center Front Desk,Woman
2,2022-03-30 23:53:18.163,Employee,John Wooden Center Front Desk,Woman
3,2022-03-31 23:47:06.560,Employee,John Wooden Center Front Desk,Woman
4,2022-04-05 00:08:24.650,Employee,John Wooden Center Front Desk,Woman