## **FQ 2023 Training**: Data Cleaning in Python 
Originally written by: Priya Kanneboyina, Assistant Data Editor (2022-2023) <br> 
Updated by: Junwon Choi, Data Editor (2023-2024) <br>
Last updated: Friday Oct 27, 2023 <br>

In [1]:
# This is what a block of code looks like in a .ipynb file! It stands for IPython Notebook. 
# Notebooks allow us to run python code within our file and also use text and code in our file. 

print('Hi Daily Bruin interns!\nYou guys are awesome!');

Hi Daily Bruin interns!
You guys are awesome!

This is what a block of text looks like in an .ipynb file! You can format with [typical markdown notation](https://www.markdownguide.org/). Now that we covered text, let's get started with using Python.

Before we get started with code, let's take a look at some naming conventions for variables. Variables are names that store values. [What's the difference btween casings?](https://www.freecodecamp.org/news/snake-case-vs-camel-case-vs-pascal-case-vs-kebab-case-whats-the-difference/)

## **Setting up**

In [2]:
# import some essential data cleaning libraries 
import pandas as pd
import numpy as np
from datetime import datetime

# read in your data 
netflixdata = pd.read_excel("C:\\Users\\betha\\OneDrive\\Desktop\\the-stack\\datasets\\training-2023\\netflixdata2022.xlsx")
# for a csv: pd.read_csv("filename")

In [3]:
# looking at the first 6 rows of the data 
netflixdata.head(6)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...
5,s6,TV Show,46,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...",Turkey,"July 1, 2017",2016,TV-MA,1 Season,"International TV Shows, TV Dramas, TV Mysteries",A genetics professor experiments with a treatm...

In [4]:
# get a list of all the columns in the data
netflixdata.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [5]:
# see how many rows of data we have
print(netflixdata.shape)
print(len(netflixdata))

(7787, 12)
7787

In [6]:
# print specific columns
netflixdata[['show_id', 'title', 'description']]

,show_id,title,description
0,s1,3%,In a future where the elite inhabit an island ...
1,s2,7:19,After a devastating earthquake hits Mexico Cit...
2,s3,23:59,"When an army recruit is found dead, his fellow..."
3,s4,9,"In a postapocalyptic world, rag-doll robots hi..."
4,s5,21,A brilliant group of students become card-coun...
...,...,...,...
7782,s7783,Zozo,When Lebanon's Civil War deprives Zozo of his ...
7783,s7784,Zubaan,A scrappy but poor boy worms his way into a ty...
7784,s7785,Zulu Man in Japan,"In this documentary, South African rapper Nast..."
7785,s7786,Zumbo's Just Desserts,Dessert wizard Adriano Zumbo looks for the nex...
7786,s7787,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,This documentary delves into the mystique behi...

In [7]:
# check for null values 
print(netflixdata.isnull().values.any())

# check for null values in a specific column
print(netflixdata['director'].isnull().values.any())
print(netflixdata['show_id'].isnull().values.any())

True
True
False

In [8]:
# remove all rows with null values
netflixdata_no_null =  netflixdata.dropna()

# looking at new # of rows
print(len(netflixdata_no_null))

4808

In [9]:
# check for duplications 
print(netflixdata.duplicated().values.any())

False

In [10]:
# remove all duplicates
netflixdata_no_dups = netflixdata_no_null.drop_duplicates()

## **Cleaning, Filtering, and Organizing Data**

In [11]:
# Dataset 1: TV shows released from 2015 - 2020 

# make dataset that is just TV Shows
tv_shows = netflixdata_no_null[netflixdata_no_null['type'] == 'TV Show']

print(len(tv_shows))

135

In [12]:
tv_shows.head(6)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5,s6,TV Show,46,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...",Turkey,"July 1, 2017",2016,TV-MA,1 Season,"International TV Shows, TV Dramas, TV Mysteries",A genetics professor experiments with a treatm...
132,s133,TV Show,7 (Seven),Nizar Shafi,"Rahman, Havish, Regina Cassandra, Nandita Swet...",India,"July 30, 2019",2019,TV-14,1 Season,TV Shows,Multiple women report their husbands as missin...
218,s219,TV Show,A Queen Is Born,Carla Barros,"Gloria Groove, Alexia Twister",Brazil,"November 11, 2020",2020,TV-14,1 Season,"International TV Shows, Reality TV",Gloria Groove and Alexia Twister make drag dre...
260,s261,TV Show,A.I.C.O.,Kazuya Murata,"Haruka Shiraishi, Yusuke Kobayashi, Makoto Fur...",Japan,"March 9, 2018",2018,TV-14,1 Season,"Anime Series, International TV Shows",Everything Aiko knew was a lie. Now she's join...
276,s277,TV Show,Abby Hatcher,Kyran Kelly,"Macy Drouin, Wyatt White, Paul Sun-Hyung Lee, ...","United States, Canada","July 1, 2020",2019,TV-Y,1 Season,Kids' TV,A big-hearted girl helps her Fuzzly friends wh...
284,s285,TV Show,Abnormal Summit,"Jung-ah Im, Seung-uk Jo","Hyun-moo Jun, Si-kyung Sung, Se-yoon Yoo",South Korea,"August 4, 2017",2017,TV-PG,2 Seasons,"International TV Shows, Korean TV Shows, Stand...","Led by a trio of Korean celebs, a multinationa..."

In [13]:
# check what type of variable release_year is 
print(tv_shows['release_year'].dtypes)

int64

In [14]:
# filter for release years 2015 - 2020
# tv_shows_2015_2020 = tv_shows[(tv_shows['release_year'] <= 2020)  & (tv_shows['release_year'] >= 2015)]
tv_shows_2015_2020 = tv_shows[(tv_shows['release_year'] <= 2020)  & (tv_shows['release_year'] >= 2015)].reset_index()

print(len(tv_shows_2015_2020))

tv_shows_2015_2020.head(6)

112

,index,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,5,s6,TV Show,46,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...",Turkey,"July 1, 2017",2016,TV-MA,1 Season,"International TV Shows, TV Dramas, TV Mysteries",A genetics professor experiments with a treatm...
1,132,s133,TV Show,7 (Seven),Nizar Shafi,"Rahman, Havish, Regina Cassandra, Nandita Swet...",India,"July 30, 2019",2019,TV-14,1 Season,TV Shows,Multiple women report their husbands as missin...
2,218,s219,TV Show,A Queen Is Born,Carla Barros,"Gloria Groove, Alexia Twister",Brazil,"November 11, 2020",2020,TV-14,1 Season,"International TV Shows, Reality TV",Gloria Groove and Alexia Twister make drag dre...
3,260,s261,TV Show,A.I.C.O.,Kazuya Murata,"Haruka Shiraishi, Yusuke Kobayashi, Makoto Fur...",Japan,"March 9, 2018",2018,TV-14,1 Season,"Anime Series, International TV Shows",Everything Aiko knew was a lie. Now she's join...
4,276,s277,TV Show,Abby Hatcher,Kyran Kelly,"Macy Drouin, Wyatt White, Paul Sun-Hyung Lee, ...","United States, Canada","July 1, 2020",2019,TV-Y,1 Season,Kids' TV,A big-hearted girl helps her Fuzzly friends wh...
5,284,s285,TV Show,Abnormal Summit,"Jung-ah Im, Seung-uk Jo","Hyun-moo Jun, Si-kyung Sung, Se-yoon Yoo",South Korea,"August 4, 2017",2017,TV-PG,2 Seasons,"International TV Shows, Korean TV Shows, Stand...","Led by a trio of Korean celebs, a multinationa..."

In [15]:
# drop redundant/inaccurate index column 
tv_shows_2015_2020 = tv_shows_2015_2020.drop(columns = ['index'])

tv_shows_2015_2020.head(6)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s6,TV Show,46,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...",Turkey,"July 1, 2017",2016,TV-MA,1 Season,"International TV Shows, TV Dramas, TV Mysteries",A genetics professor experiments with a treatm...
1,s133,TV Show,7 (Seven),Nizar Shafi,"Rahman, Havish, Regina Cassandra, Nandita Swet...",India,"July 30, 2019",2019,TV-14,1 Season,TV Shows,Multiple women report their husbands as missin...
2,s219,TV Show,A Queen Is Born,Carla Barros,"Gloria Groove, Alexia Twister",Brazil,"November 11, 2020",2020,TV-14,1 Season,"International TV Shows, Reality TV",Gloria Groove and Alexia Twister make drag dre...
3,s261,TV Show,A.I.C.O.,Kazuya Murata,"Haruka Shiraishi, Yusuke Kobayashi, Makoto Fur...",Japan,"March 9, 2018",2018,TV-14,1 Season,"Anime Series, International TV Shows",Everything Aiko knew was a lie. Now she's join...
4,s277,TV Show,Abby Hatcher,Kyran Kelly,"Macy Drouin, Wyatt White, Paul Sun-Hyung Lee, ...","United States, Canada","July 1, 2020",2019,TV-Y,1 Season,Kids' TV,A big-hearted girl helps her Fuzzly friends wh...
5,s285,TV Show,Abnormal Summit,"Jung-ah Im, Seung-uk Jo","Hyun-moo Jun, Si-kyung Sung, Se-yoon Yoo",South Korea,"August 4, 2017",2017,TV-PG,2 Seasons,"International TV Shows, Korean TV Shows, Stand...","Led by a trio of Korean celebs, a multinationa..."

In [16]:
# getting frequency table for each year 
year_freq = tv_shows_2015_2020.groupby(['release_year']).size()

In [17]:
year_freq

release_year
2015     9
2016    10
2017    18
2018    17
2019    24
2020    34
dtype: int64

In [18]:
# Dataset 2: International Movies added to Netflix after 2019

# filter data to just TV shows - another method (less wordy but personally above method is more clear)
movies = netflixdata_no_null.query("type == 'Movie'")

In [19]:
movies.head(6)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...
6,s7,Movie,122,Yasir Al Yasiri,"Amina Khalil, Ahmed Dawood, Tarek Lotfy, Ahmed...",Egypt,"June 1, 2020",2019,TV-MA,95 min,"Horror Movies, International Movies","After an awful accident, a couple admitted to ..."
7,s8,Movie,187,Kevin Reynolds,"Samuel L. Jackson, John Heard, Kelly Rowan, Cl...",United States,"November 1, 2019",1997,R,119 min,Dramas,After one of his high school students attacks ...

In [20]:
# filter to just International Movies (as categorized by 'listed_in')
movies_international = movies.loc[(movies['listed_in'].str.contains("International Movies") == True)].reset_index() 
movies_international = movies_international.drop(columns = ['index'])

movies_international.head(6)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
1,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
2,s7,Movie,122,Yasir Al Yasiri,"Amina Khalil, Ahmed Dawood, Tarek Lotfy, Ahmed...",Egypt,"June 1, 2020",2019,TV-MA,95 min,"Horror Movies, International Movies","After an awful accident, a couple admitted to ..."
3,s9,Movie,706,Shravan Kumar,"Divya Dutta, Atul Kulkarni, Mohan Agashe, Anup...",India,"April 1, 2019",2019,TV-14,118 min,"Horror Movies, International Movies","When a doctor goes missing, his psychiatrist w..."
4,s10,Movie,1920,Vikram Bhatt,"Rajneesh Duggal, Adah Sharma, Indraneil Sengup...",India,"December 15, 2017",2008,TV-MA,143 min,"Horror Movies, International Movies, Thrillers",An architect and his wife move into a castle t...
5,s14,Movie,"2,215",Nottapon Boonprakob,Artiwara Kongmalai,Thailand,"March 1, 2019",2018,TV-MA,89 min,"Documentaries, International Movies, Sports Mo...",This intimate documentary follows rock star Ar...

In [21]:
# filtering Intl movies to those added after 2019
# this part is a little trickier!

# check column data type of date_added
print(movies_international['date_added'].dtypes)

object

In [22]:
# convert date_added to datetime and extract the year 
movies_international['date_added'] = pd.to_datetime(movies_international['date_added']).dt.strftime('%Y')
print(movies_international['date_added'].dtypes)
# converting to integer so we can use >= operator
movies_international['date_added'] = movies_international['date_added'].astype(int)
print(movies_international['date_added'].dtypes)

object
int32

In [23]:
# filter to just movies after 2019
movies_international = movies_international[movies_international['date_added'] >= 2019].reset_index()

movies_international.head(6)

,index,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,2,s7,Movie,122,Yasir Al Yasiri,"Amina Khalil, Ahmed Dawood, Tarek Lotfy, Ahmed...",Egypt,2020,2019,TV-MA,95 min,"Horror Movies, International Movies","After an awful accident, a couple admitted to ..."
1,3,s9,Movie,706,Shravan Kumar,"Divya Dutta, Atul Kulkarni, Mohan Agashe, Anup...",India,2019,2019,TV-14,118 min,"Horror Movies, International Movies","When a doctor goes missing, his psychiatrist w..."
2,5,s14,Movie,"2,215",Nottapon Boonprakob,Artiwara Kongmalai,Thailand,2019,2018,TV-MA,89 min,"Documentaries, International Movies, Sports Mo...",This intimate documentary follows rock star Ar...
3,6,s16,Movie,Oct-01,Kunle Afolayan,"Sadiq Daba, David Bailie, Kayode Olaiya, Kehin...",Nigeria,2019,2014,TV-14,149 min,"Dramas, International Movies, Thrillers",Against the backdrop of Nigeria's looming inde...
4,11,s28,Movie,#Alive,Cho Il,"Yoo Ah-in, Park Shin-hye",South Korea,2020,2020,TV-MA,99 min,"Horror Movies, International Movies, Thrillers","As a grisly virus rampages a city, a lone man ..."
5,12,s29,Movie,#AnneFrank - Parallel Stories,"Sabina Fedeli, Anna Migotto","Helen Mirren, Gengher Gatti",Italy,2020,2019,TV-14,95 min,"Documentaries, International Movies","Through her diary, Anne Frank's story is retol..."

In [24]:
# Dataset 3: calculate average duration of movies grouped by year

# check column data type of duration
print(movies['duration'].dtypes)

# remove ' min' from duration column
movies['duration'] = movies['duration'].str.replace(' min', '')

# convert duration to integer
movies['duration'] = movies['duration'].astype(int)

movies.head(6)

object

C:\Users\betha\AppData\Local\Temp\ipykernel_18256\3929035251.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['duration'] = movies['duration'].str.replace(' min', '')
C:\Users\betha\AppData\Local\Temp\ipykernel_18256\3929035251.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['duration'] = movies['duration'].astype(int)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123,Dramas,A brilliant group of students become card-coun...
6,s7,Movie,122,Yasir Al Yasiri,"Amina Khalil, Ahmed Dawood, Tarek Lotfy, Ahmed...",Egypt,"June 1, 2020",2019,TV-MA,95,"Horror Movies, International Movies","After an awful accident, a couple admitted to ..."
7,s8,Movie,187,Kevin Reynolds,"Samuel L. Jackson, John Heard, Kelly Rowan, Cl...",United States,"November 1, 2019",1997,R,119,Dramas,After one of his high school students attacks ...

In [25]:
# calculate average duration of movies grouped by year
avg_duration = movies.groupby(['release_year'])['duration'].mean().reset_index()

avg_duration

    release_year   duration
0           1942  18.000000
1           1944  76.000000
2           1945  63.000000
3           1946  58.000000
4           1947  42.000000
..           ...        ...
66          2017  96.969697
67          2018  98.975288
68          2019  98.193966
69          2020  94.455072
70          2021  73.000000

[71 rows x 2 columns]

In [ ]:
# export dataframe to csv

avg_duration.to_csv('avg_duration.csv', index = False)

We'll cover data visualization using Python packages in a future workshop!